/* Base Styles */
:root {
    --dark-bg: #0f0f0f;
    --darker-bg: #080808;
    --light-text: #f5f5f5;
    --accent-color: rgb(218, 173, 57);
    --accent-hover: #F3D382ff;
    --secondary-color: #2c2c2c;
    --tertiary-color: #3d3d3d;
    --text-muted: #a0a0a0;
    --transition: all 0.3s ease;
    --success-color: #28a745; /* Hijau untuk 'Selesai' */
    --danger-color: #dc3545;  /* Merah untuk 'Dibatalkan' */
}
